# Eclipse
Backend/closet/.classpath
Backend/closet/.project
Backend/closet/.settings/

# Intellij
Backend/closet/.idea/
Backend/closet/*.iml
Backend/closet/*.iws

# Mac
Backend/closet/.DS_Store
ClosetIos/Trax.xcodeproj/project.xcworkspace/xcuserdata/Jana.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
# Maven
Backend/closet/log/
Backend/closet/target/
/.metadata/
